/ Non relevant styles
*{
    box-sizing: border-box;
}

@media (max-width: 640px) {
    p{
        font-size: calc(13px + 1vw);;
    }

    .heading_1{
        font-size: calc(17px + 1.5vw);
    }

    .column_text p {
        margin-bottom: 1vw ;
        font-weight: 700;
        font-size: calc(6px + 0.8vw);
    }

    .container {
        padding: 2% 0.0;
    }

    .image-stack img {
        width: 100%;
    }

}

@media (min-width: 641px) {
    p{
        font-size: calc(13px + 1vw);
    }

    .heading_1{
        font-size: calc(35px + 1.2vw);
    }

    a.hyperlink_style{
        font-weight: 700;
    }

    .column_text p {
        margin-bottom: 1vw ;
        font-size: calc(7px + 0.85vw);
        font-weight: 600;
    }

    .container {
        padding: 2% 12%;
    }

    .row {
        padding: 0 5%;
    }

    .image-stack img {
        width: 85%;
    }
}

body {
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    max-width: 1200px;
    width: 100%;
    margin:0 auto;
}

.container {
    /*padding: 90px 30px;*/
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.para-desc{
    display: block;
    padding: 1% 0.5% 0;
    font-weight: 400;
}


#heading_desk{
    font-weight: bold;
    padding: 45px 0 40px;
    text-align: center;
    font-size: calc(40px + 1.2vw);
}

#heading_mob {
    font-size: calc(30px + 1.5vw);
    font-weight: 700;
    text-align: center;
    padding-top: 2%;
}


.desktop_nav {
    padding-top: 4%;
    float: left;
    width: 100%;
    position: relative;
}

#desktop-header{
    width: 120px;
}

.mobile_nav img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 15px 4px;
}


form {
    display:inline;
}

input[type=text] {
    width: 40%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    color: #717171;
    background-color: #eeeeee;
    background-image: url('./images/search.png');
    background-position: 95% center;
    background-size: 5%;
    background-repeat: no-repeat;
    outline-width: 0;
    padding: 7px 2px 7px 40px;
}

.topnav{
    padding-top: 1%;
    padding-bottom: 2%;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding-right: 1%;
    text-decoration: none;
    font-size: calc(2px + 0.8vw);
    font-weight: bold;
}

.topnav a.active {
    color: red;
}

  /* Style the tab */
.tab {
    overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
    float: left;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    width: 33.33%;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    background-color: #edf2f5;
    color: #a9adb0;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: white;
  color: black;
}


.image-stack img {
    max-width: 893px;
    padding-top: 2%;
}

* {
    box-sizing: border-box;
}

.row_img {
    padding-top: 1%;
}
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    width: 33.33%;
    height: auto;
    padding-top: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    object-fit: cover;
}

.column_text {
    float: left;
    width: 33.33%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-weight: 500;
}

.hr-line{
    height: 1.5px;
    text-align:center;
    border-width: 0; 
    color:#e1e1e1;
    background-color:#e1e1e1;
    margin-top: calc(12px + 4%);
    margin-bottom: calc(6px + 3%);
    width: 80%;
}

a {
    text-decoration: none;
}

a.hyperlink_style {
    display: block;
    text-decoration: underline;
    text-decoration-color: black;
    color: black;
    font-size: calc(12px + 1.2vw);
    padding: 2% 0 4%;
}

.heading_1{
    font-weight: bold;
    padding-bottom: 3%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.icon-bar {
    width: 100%;
    overflow: auto;
  }
  
  .icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding-bottom: 14px;
    font-size: 36px;
  }
  
  .icon-bar a{
      fill: #a5a5a5;
  }
  
  .icon-bar a:hover {
      fill: #ddd;
  }
  
  div .active {
      fill: black;
  }
  
  a .name{
      position: relative;
      height: 20px; 
      width: 100%;
      display: block;
      overflow: hidden;/*make ul li a .name overflow is hidden*/
  }
  /*style the font size and set transition of the navigation menu*/
  a .name span{
      display: block;
      position: relative;
      color: #a5a5a5;
      font-size: 18px; /* changing font size */
      line-height: 20px;	
  }
  
  a.active .name span {
      color: black;
  }
  
  a:hover .name span {
      color: #ddd;
  }

.font-bold{
    font-weight: 700;
}

